
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.viewer {
	height: 600px;
	margin-left: 0;
}

#evaluatingButtons {
	float: right;
}

#upperPane {
	margin-bottom: 10px;
}

#middlePane {
	margin-bottom: 10px;
}

#progress {
	float: right;
}

#progress .btn-group {
	float: right;
}

#baseURI {
	font-size: 20pt;
}

#currentURI {
	font-size: 15pt;
}
